@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --primaryColor: #1A1938;
    --primaryButtonColor: #3f46ad;
}

body{
    background-color: #F2F2F2;
    margin: 0;
    font-family: "Poppins";
    overflow: hidden;
}

.navbar{
    padding: 1em;
    background-color: white;


    .logo{
        text-decoration: none;
        color: black;
        font-size: 2em;
        font-weight: bold;

        img{
            width:1.5em;
            float: left;
            margin-right: 0.2em;
        }

    }

    nav#nav{
        text-align: right;
        display: none;
        a{
           color: var(--primaryColor);
        }

        a:hover{
            font-weight: bold;
        }
   }

    #open-nav{
        width: 2em;
        display: block;
        cursor: pointer;
        margin-bottom: 1em;
        position: absolute;
        right: 1em;

    }

    #close-nav{
        width: 2em;
        float: right;
        display: block;
        cursor: pointer;
        margin-bottom: 1em;
    }


   .current {
       font-weight: bold;
   }
}


ul{
list-style-type: none;
margin: 0;
padding: 0;
    li{
        clear: both;
        display: block;
        margin-top: 0.5em;
      }

    a{
        text-decoration: none;
     } 
}


section{
    padding: 2em 5em;
}

.container{
    display: flex;
    justify-content: space-between;
}


.header{
text-align: center;
background-color: var(--primaryColor);
color: white;

    .container{
        flex-direction: column;
    }

    .left-col{
        
        display: inline;

        p{
            font-size: 1.5em;
            display: inline;
            position: relative;
        }

        p::before{
         content: '';
         background-image: url(../assets/logo.svg);
         background-size: contain;
         width: 20px;
         height: 20px;
         position: absolute;
         left: -1em;
         margin-top: 0.2em;
        }


    }

    button.register-now-cta{
        width: 10em;
        padding: 0.6em;
        background-color: var(--primaryButtonColor);
        font-weight: bold;
        color: white;
        border: none;
        font-size: 1.1em;
        margin: 0 auto;
        border-radius: 0.3em;
        cursor: pointer;
        margin-top: 1em;
    }

}


section.hero{
    margin-top: 1em;
    text-align: center;
    img{
        width: 45% !important;
        display: none;
    }

    .right-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      h1{
          color: var(--primaryColor);
          font-size: 2em;

      }
      p.feature{
          margin-left: -3em;
          margin-right: -3em;
      }
        
     form{
         margin-top: 2em;
         margin-left: -3em;
         margin-right: -3em;

         input{

            width: 17em;
            padding: 0.7em;
         }

         button{
             background-color: var(--primaryButtonColor);
             color: white;
             border: none;
             font-weight: bold;
             padding: .8em;
             border-radius: 0.3em;
             font-size: 0.9em;
             cursor: pointer;
             margin-top: 1em;
         }

     }


     p.question{
         font-size: 1em;
         a{
             color: var(--primaryButtonColor);
         }
     }

    }
    
}


@media only screen and (min-width: 768px){

    .right-col{
        h1{
            color: var(--primaryColor);
            font-size: 3em !important;
            line-height: 1em;

  
        }
        p.feature{
            margin:0;
            width: 80%;
        }
    }

#open-nav, #close-nav{
    display: none !important;
}


.navbar .container{
    display: grid !important;
    grid-template-columns: 20% 80%;

    #nav{
        display: flex !important;
        justify-content: space-between;
        

        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{
                margin-left: 0.7em;
            }

        }
    }

    

    .get-started-cta{
        border-radius: 0.5em;
        padding: 0.5em;
        border: 2px solid var(--primaryButtonColor);
        font-weight: bold;
        transition: background 1s;
        font-size: 0.9em;
        a{
            color: var(--primaryButtonColor) !important;
        }

        &:hover{
            background-color: var(--primaryButtonColor);
        
        a{
            color: white !important;
            border: none;
        }
        
        }

    }
}


}

@media only screen and (min-width: 1080px) {


    .navbar .container{
        grid-template-columns: 15% 85%;
    }


    .header .container{
        flex-direction: row;
        justify-content: center;

        .register-now-cta{
            margin: 0;
            margin-left: 1em;
        }

    }



    section.hero{
        padding: 2em 4em !important;
        img{
            display: block;
        }
    }

    .right-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -5em;
        h1{
            color: var(--primaryColor);
            font-size: 3em !important;
            line-height: 1em;

  
        }
        p.feature{
            margin:0;
        }
    }

}

@media only screen and (min-width: 1450px){

    section.hero{
        padding: 2em 7em !important;
    }

    .navbar .container{
        grid-template-columns: 10% 90%;
    }
}
